/*
   RESSET SESSION
*/

html, body {
	position: relative;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: normal;
}

html, body, h1, h2, ul, div, span {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
}

ul {
	list-style: none;
}
